.flex{ /*kad je ekran preuzak, granica prozora ce ici
		 preko lemenata i sakriti ih*/
	overflow-x: hidden;
  	overflow-y: auto;
  	flex: 1;
}
.okvir{
	max-width: 60%;
	margin: 0 auto;
}
.okvir div{
	background-color: skyblue;
}
.meni{
	margin-top: -1em;
	padding: 0.01em;
	margin-bottom: 1em;
	text-decoration-skip-ink: none; /*da underline ne bi prekidao kod slova j y g q*/
}
.meni li{
	display: inline-block;
	padding-right: 0.3em;
}
.meni a{
	color: black;
}
.meni ul{
	list-style-type: none;
	margin-bottom: 0.3em;
}
.logo {
	text-align: center; /*centrira logo na sredinu horizontalno*/
}
.logo img {
	position: relative;
	width: 24px; /*font je 16px pa kad je
					 margin menija -1em, 50% slike je preko menija*/
					 /*Radi samo sa pepsi slikom, za druge slike bi setrebalo prilagoditi*/
	/*height: 24px;*/ /*height se skalira, posto je 
						simetricno bude jednako sirini tj 24x24 px*/
	margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  /* za ekrane ispod 600px: */
  .meni li{
	display: block;
	padding-bottom: 0.2em;
	}
}