@import "meni.css";	
*{
	box-sizing: border-box;
}
.sadrzaj {
	font-size: 16px;
}
.checkBox {
	margin-left: 10px;
	display: inline-block;
  	vertical-align: bottom;
	margin-top: 10px;
	*display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
}

.input select {
	display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    text-align: left;
    width: 20%;
    vertical-align:middle;
    margin-left: 10px;
    margin-top: 10px;
}
.input label {
	display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    text-align: left;
    width: 20%;
    vertical-align:middle;
    margin-left: 10px;
    margin-top: 10px;
}
.input input:not(.checkBox) {
	display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
	margin-top: 10px;
    vertical-align:middle;
    margin-left: 10px;
    width: 40%;
}
label:after {
	content: ":";
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}


